<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8" />

    <%
    var title = page.title;
    if( is_archive() ) {
        title = __('archive_a');
        if( is_month() ) {
            title += ': ' + page.year + '/' + page.month;
        } else if( is_year() ) {
            title += ': ' + page.year;
        }
    } else if( is_category() ) {
            title = __('category') + ': ' + page.category;
    } else if( is_tag() ) {
        title = __('tag') + ': ' + page.tag;
    }
    %>

    <%
    var description = config.description;
    if( is_post() ) {
        description = _.truncate(strip_html(page.content), {length: 250}).replace(/\n/g, '');
    }
    %>

    <title><% if( title ) { %><%= title %> | <% } %><%= config.title %></title>
    <meta name="author" content="<%= config.author %>" />
    <meta name="keywords" content="<%= config.keywords %>" />
    <meta name="description" content="<%= description %>" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no" />

    <% if( theme.rss ) { %>
    <link rel="alternate" href="<%- url_for(theme.rss) %>" title="<%= config.title %>" type="application/atom+xml">
    <% } %>
    <% if( theme.favicon ) { %>
    <link rel="icon" href="<%- url_for(theme.favicon) %>">
    <% } %>

    <style type="text/css">
    @font-face {
        font-family: 'icomoon';
        src: url("<%= url_for('/fonts/icomoon.eot?q628ml') %>");
        src: url("<%= url_for('/fonts/icomoon.eot?q628ml#iefix') %>") format('embedded-opentype'),
             url("<%= url_for('/fonts/icomoon.ttf?q628ml') %>") format('truetype'),
             url("<%= url_for('/fonts/icomoon.woff?q628ml') %>") format('woff'),
             url("<%= url_for('/fonts/icomoon.svg?q628ml#icomoon') %>") format('svg');
        font-weight: normal;
        font-style: normal;
    }
    </style>
    <%- css('css/style') %>

    <!--[if lt IE 9]>
    <style type="text/css">
    .nav-inner {top:0;}
    .author-meta {position:static;top:0;}
    .search-form {height:36px;}
    </style>
    <script type="text/javascript" src="https://unpkg.com/html5shiv@3.7.3/dist/html5shiv.min.js"></script>
    <![endif]-->
</head>
<body>

    <main class="app">
        <%- partial('_partial/header') %>
        <div id="content" class="content">
            <div id="wrapper" class="wrapper"<% if( theme.content_max_width ) { %> style="max-width: <%= theme.content_max_width %>"<% } %>>
                <%- body %>
            </div>
        </div>
        <%- partial('_partial/footer', {}, {cache: true}) %>
    </main>

    <script type="text/javascript" src="https://cdn.bootcss.com/jquery/1.9.0/jquery.min.js"></script>
    <script type="text/javascript">
    $(function() {
        var nodes = {
            nav: $('#nav'),
            aside: $('#aside'),
            asideInner: $('#aside-inner'),
            navInner: $('#nav-inner')
        };

        var doing = false;
        nodes.asideInner.on('webkitAnimationEnd mozAnimationEnd oAnimationEnd oanimationend animationend', function() {
            if (nodes.aside.hasClass('mobile-open')) {
                nodes.aside.removeClass('mobile-open');
            } else {
                nodes.aside.removeClass('mobile-close panel-show');
            }
            doing = false;
        });
        $('#open-panel, #aside-mask').on('click', function() {
            if (doing) {
                return;
            }

            if (nodes.aside.hasClass('panel-show')) {
                nodes.aside.addClass('mobile-close');
            } else {
                nodes.aside.addClass('mobile-open panel-show');
            }
        });
        $('#open-menus').on('click', function() {
            nodes.navInner.slideToggle();
        });

        if (window.innerWidth <= 960) {
            setTimeout(function() {
                nodes.navInner.slideUp();
            }, 3000);
        }
    });
    </script>
    <% if (is_post()) { %>
        <%- js('js/scrollspy.min.js') %>
        <script type="text/javascript">
        $(document.body).scrollspy({target: '#aside-inner'});

        $(window).on('resize', function() {
            var hw = $('#header').width();
            var ww = $('#wrapper').width();
            var space = ($(this).width() - hw - ww) / 2 / 2;

            var pageprev = $('#pageprev');
            var pagenext = $('#pagenext');
            var avg = (pageprev.width() + pagenext.width()) / 2

            if(space > avg) {
                var len = space - avg / 2;
                var styles = {position: 'fixed', top: '50%', marginTop: - (pageprev.width() + pagenext.width()) / 4}
                pageprev.css($.extend({left: hw + len}, styles));
                pagenext.css($.extend({right: len}, styles));
            } else {
                pageprev.removeAttr('style');
                pagenext.removeAttr('style');
            }
        }).trigger('resize');
        </script>
    <% } %>

</body>
</html>
