<aside id="aside" class="aside">
    <div id="aside-mask" class="aside-mask"></div>
    <div id="aside-inner" class="aside-inner">
        <%- search_form({button: '<i class="icon-search-stroke"></i>'}) %>

        <% var t = null %>
        <% if( is_post() ) { %>
        <% t = toc(page.content) %>
        <% } %>

        <% if( t ) { %>
        <%- t %>
        <% } else { %>
        <div class="author-meta">
            <% if( theme.author.avatar_url ) { %>
            <div class="author-avatar">
                <a href="<%- url_for() %>">
                    <img src="<%= url_for(theme.author.avatar_url) %>" title="<%= theme.author.name %>">
                </a>
            </div>
            <% } %>
            <div class="author-name"><%= theme.author.name %></div>
            <div class="author-work"><%- theme.author.work %></div>
            <div class="author-location">
                <i class="icon-location vm"></i>
                <span class="vm"><%= theme.author.location %></span>
            </div>
            <% if( theme.links ) { %>
            <div class="author-thread-wrap">
                <div class="author-threads clearfix">
                    <% theme.links.forEach(function(link, index) { %>
                        <a class="thread-item" href="<%= link.url %>" target="_blank" rel="noopener">
                            <%- include({path: link.svg}) %>
                        </a>
                    <% }) %>
                </div>
            </div>
            <% } %>
        </div>
        <% } %>
    </div>
</aside>
