<div id="nav" class="nav">
    <button id="open-panel" class="open-panel"><i class="icon-library"></i></button>

    <nav class="nav-inner">

        <li class="nav-item<% if( is_home() ) { %> active<% } %>">
            <a class="nav-link" href="<%- url_for('/') %>">首页</a>
        </li>
        <li class="nav-item<% if( is_current('categories/front-end') ) {  %> active<% } %>">
            <a class="nav-link" href="<%- url_for('categories/front-end') %>">前端</a>
        </li>
        <li class="nav-item<% if( is_current('categories/back-end') ) {  %> active<% } %>">
            <a class="nav-link" href="<%- url_for('categories/back-end') %>">后端</a>
        </li>

        <li class="nav-item nav-item-tag">
            <a id="nav-tag" class="nav-link" href="#">标签</a>
            <div id="nav-tags" class="nav-tag-wrap">
                <i class="nav-tag-arrow"></i>
                <%- partial('_widget/tag') %>
            </div>
        </li>

        <li class="nav-item<% if( is_archive() ) { %> active<% } %>">
            <a class="nav-link" href="<%- url_for('archives') %>">归档</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="<%- url_for('atom.xml') %>">订阅</a>
        </li>
        <li class="nav-item<% if( is_current('about') ) {  %> active<% } %>">
            <a class="nav-link" href="<%- url_for('about') %>">关于</a>
        </li>

    </nav>
</div>
